#slidy-container {
/*  margin-top: -7px;*/
position:relative;
width: 100%;
overflow: hidden;
transition: all 2s ease;
}
.innerslidy {
  position:relative;
}

#cssslidy-caption1,
#cssslidy-caption2,
#cssslidy-caption3,
#cssslidy-caption4  {
  position:absolute;
  z-index: 999999;
  font-size: 25px;
  color: black;
  top: 30px;
  padding: 15px;
  background: rgba(255,255,255,0.3);
  transition: background-color 1s ease;
  transition: color 1s ease;
}

/*transition: left 2s cubic-bezier(0.77, 0, 0.175, 1);*/
