
/*transition: left 2s cubic-bezier(0.77, 0, 0.175, 1);*/

#slidy-container {
position:relative;
width: 100%;
overflow: hidden;
transition: all 2s ease;
}
.innerslidy {
  position:relative;
}
#cssslidy-caption1,
#cssslidy-caption2,
#cssslidy-caption3,
#cssslidy-caption4  {
  position:absolute;
  z-index: 999999;
  font-size: 25px;
  color: black;
  top: 30px;
  padding: 15px;
  background: rgba(255,255,255,0.3);
  transition: background-color 4s ease;
  transition: color 1s ease;
}
#cssslidy-caption1:hover,
#cssslidy-caption2:hover,
#cssslidy-caption3:hover,
#cssslidy-caption4:hover{
  background: rgba(255,255,255,0.2);
  transition: background-color 4s ease;
}


@media(max-width:650px) {
  #cssslidy-caption1,
  #cssslidy-caption2,
  #cssslidy-caption3,
  #cssslidy-caption4 {
    font-size: 20px;
  }
}


@media(max-width:450px) {
  #cssslidy-caption1,
  #cssslidy-caption2,
  #cssslidy-caption3,
  #cssslidy-caption4 {
    font-size: 14px;
  }
}
