<?xml version="1.0"?>
<!--
/**
 * TestNamespace_TestModule extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       TestNamespace
 * @package        TestNamespace_TestModule
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <TestNamespace_TestModule>
            <version>1.0.0</version>
        </TestNamespace_TestModule>
    </modules>
    <global>
        <resources>
            <testnamespace_testmodule_setup>
                <setup>
                    <module>TestNamespace_TestModule</module>
                    <class>TestNamespace_TestModule_Model_Resource_Setup</class>
                </setup>
            </testnamespace_testmodule_setup>
        </resources>
        <blocks>
            <testnamespace_testmodule>
                <class>TestNamespace_TestModule_Block</class>
            </testnamespace_testmodule>
        </blocks>
        <helpers>
            <testnamespace_testmodule>
                <class>TestNamespace_TestModule_Helper</class>
            </testnamespace_testmodule>
        </helpers>
        <models>
            <testnamespace_testmodule>
                <class>TestNamespace_TestModule_Model</class>
                <resourceModel>testnamespace_testmodule_resource</resourceModel>
            </testnamespace_testmodule>
            <testnamespace_testmodule_resource>
                <class>TestNamespace_TestModule_Model_Resource</class>
                <entities>
                    <imageurl>
                        <table>testnamespace_testmodule_imageurl</table>
                    </imageurl>
                    <imageurl_store>
                        <table>testnamespace_testmodule_imageurl_store</table>
                    </imageurl_store>
                    <imageurl_comment>
                        <table>testnamespace_testmodule_imageurl_comment</table>
                    </imageurl_comment>
                    <imageurl_comment_store>
                        <table>testnamespace_testmodule_imageurl_comment_store</table>
                    </imageurl_comment_store>
                </entities>
            </testnamespace_testmodule_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <testnamespace_testmodule>
                        <class>TestNamespace_TestModule_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </testnamespace_testmodule>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <testnamespace_testmodule>
                    <file>testnamespace_testmodule.xml</file>
                </testnamespace_testmodule>
            </updates>
        </layout>
        <translate>
            <modules>
                <TestNamespace_TestModule>
                    <files>
                        <default>TestNamespace_TestModule.csv</default>
                    </files>
                </TestNamespace_TestModule>
            </modules>
        </translate>
        <global_search>
            <imageurl>
                <class>testnamespace_testmodule/adminhtml_search_imageurl</class>
                <acl>testnamespace_testmodule</acl>
            </imageurl>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TestNamespace_TestModule before="Mage_Adminhtml">TestNamespace_TestModule_Adminhtml</TestNamespace_TestModule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <testnamespace_testmodule>
                <use>standard</use>
                <args>
                    <module>TestNamespace_TestModule</module>
                    <frontName>namespace_module</frontName>
                </args>
            </testnamespace_testmodule>
        </routers>
        <layout>
            <updates>
                <testnamespace_testmodule>
                    <file>testnamespace_testmodule.xml</file>
                </testnamespace_testmodule>
            </updates>
        </layout>
        <translate>
            <modules>
                <TestNamespace_TestModule>
                    <files>
                        <default>TestNamespace_TestModule.csv</default>
                    </files>
                </TestNamespace_TestModule>
            </modules>
        </translate>
    </frontend>
    <default>
        <testnamespace_testmodule>
            <imageurl>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <rss>1</rss>
                <meta_title>ImagesURL</meta_title>
            </imageurl>
        </testnamespace_testmodule>
    </default>
</config>
