<?xml version="1.0"?>
<config>
    <modules>
        <CSSSlidy_Slider>
            <version>0.3.0</version>
        </CSSSlidy_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>CSSSlidy_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout><!-- layout for JS in footer-->
          <updates>
              <slider>
                  <file>slider.xml</file>
              </slider>
          </updates>
        </layout>
    </frontend>
    <global>
      <helpers><!-- new -->
        <CSSSlidy_Slider>
          <class>CSSSlidy_Slider_Helper</class>
        </CSSSlidy_Slider>
      </helpers>
      <blocks>
        <CSSSlidy_Slider>
          <class>CSSSlidy_Slider_Block</class>
        </CSSSlidy_Slider>
      </blocks>
      <models>
        <CSSSlidy_Slider>
          <class>CSSSlidy_Slider_Model</class>
        </CSSSlidy_Slider>
        <cssslidy><!-- new -->
          <class>CSSSlidy_Slider_Model</class>
        </cssslidy>
      </models>
    </global>
    <adminhtml><!-- new -->
        <acl><!-- auth only-->
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cssslidyslider>
                                            <title>CSSSlidy Options</title>
                                        </cssslidyslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
